$cubic-bezier: cubic-bezier(0.37, 0.01, 0.28, 0.98);
$border-radius: 3px;
$disabled-op: 0.4;
$def-fonts: #000000;
$def-background: #ffffff;
$primary: #ffc107;
$secondary: #ffc107;
$font-disable: #adadad;
$error: #a80000;
$success: #6ab352;
