@import 'config';

:host {
  overflow: hidden;
  height: 100%;
  width: 100%;

  .main {
    height: 100%;
    width: 100%;
    box-shadow: $box-shadow;
    border-radius: 4px;

    &__header {
      &__filters {
        display: flex;
        align-items: center;

        label {
          padding: 0 10px;
        }

        &__total {
          padding: 0 10px;
          display: flex;
          @include app-font(16, semi-bold);

          &__title {
          }
          &__value {
            padding: 0 10px;
          }
        }
      }
    }
  }
}
