<div
  *ngIf="incident; else skeleton"
  class="list-item {{ itemType ? 'list-item--' + itemType : '' }}"
  (click)="itemClicked(incident?.id)"
>
  <div class="list-item__info">
    <div class="list-item__info__photo">
      <div class="list-item__info__photo__url" [fahBikeImage]="incident?.media?.image_url_thumb"></div>
    </div>
    <div class="list-item__info__details">
      <div class="list-item__info__details__name">
        {{ incident?.title }} {{ incident?.date ? 'at ' + incident?.date : ' ' }}
        {{ incident?.address ? ' in ' + incident?.address : '' }}
      </div>
      <div class="list-item__info__details__description">{{ incident?.description }}</div>
    </div>
  </div>
</div>

<ng-template #skeleton>
  <div class="skeleton-item">
    <p-skeleton size="4rem"></p-skeleton>
    <div class="skeleton-item__info">
      <p-skeleton width="75%"></p-skeleton>
      <p-skeleton width="100%"></p-skeleton>
    </div>
  </div>
</ng-template>
