<div class="info" *ngIf="!loading; else loadingTemp">
  <div class="info__header">
    <button
      pButton
      pRipple
      type="button"
      icon="pi pi-angle-left"
      class="p-button-rounded"
      (click)="goToMain()"
    ></button>
  </div>
  <div class="info__container">
    <div class="info__container__photo">
      <div class="info__container__photo__url" [fahBikeImage]="incident?.media?.image_url"></div>
    </div>
    <div class="info__container__data">
      <div class="info__container__data__items">
        <div class="info__container__data__items__type">{{ incident?.type }}</div>
        <div class="info__container__data__items__title">{{ incident?.title }}</div>
        <div class="info__container__data__items__description">{{ incident?.description }}</div>
        <div class="info__container__data__items__occurred_at" *ngIf="incident?.date">At: {{ incident?.date }}</div>
        <div class="info__container__data__items__updated_at" *ngIf="incident?.dateOfReport">
          Report at: {{ incident?.dateOfReport }}
        </div>
        <div class="info__container__data__items__address" *ngIf="incident?.address">
          Location: {{ incident?.address }}
        </div>
      </div>
      <div class="info__container__data__map">
        <div class="info__container__data__map__container" id="map"></div>
      </div>
    </div>
  </div>
</div>
<ng-template #loadingTemp>
  <div class="info-loading">
    <p-progressSpinner></p-progressSpinner>
  </div>
</ng-template>
