@import 'helpers/reset';
@import 'styles/helpers/fonts';
@import 'config';
@import 'primNG-override';

html,
body {
  font-size: 12px;
  direction: ltr;
  height: 100%;
  overflow: hidden;
  font-family: 'Assistant', sans-serif;
  color: $def-fonts;
  position: relative;

  // map style Override
  .mapboxgl-map {
    height: 100%;
  }
}

* {
  & {
    box-sizing: border-box;
    outline: none;
    user-select: none;
  }
}
